{% assign navigation = site.data.navigation.local %}

{% if navigation %}
<nav id="about-nav">
	<ul class="about-links">
    {% for nav in navigation %}
      <li {% if nav.url == page.url %} class="active" {% endif %}>
      {% comment %} internal/external URL check {% endcomment %}
      {% if nav.url contains "://" %}
        {% assign nav_url = nav.url %}
      {% elsif nav.url %}
        {% assign nav_url = nav.url | relative_url %}
      {% else %}
        {% assign nav_url = "#" %}
      {% endif %}
      <a href="{{ nav_url }}">{{ nav.title }}</a>
      </li>
    {% endfor %}
	</ul>
{% endif %}
</nav>